*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  align-items: center;
}

body {
  font-family: "roboto", sans-serif;
}

ol,
ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* loop */

.loop {
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: rgb(255, 161, 154);
}

.loop__list {
  width: 850px;
  display: flex;
  gap: 70px;
  margin-bottom: 20px;
  margin-left: auto;
}

.loop__item {
  font-size: 36px;
  text-transform: uppercase;
  color: gainsboro;
  font-weight: bold;
  margin-right: 0;
  margin-left: auto;
}

.loop__item--active {
  color: #fff;
}

.loop__text {
  margin-left: 150px;
  color: #fff;
  width: 460px;
  margin-bottom: 50px;
}

.form {
  margin-left: 150px;
  position: relative;
  display: flex;
  width: 645px;
}

.loop__form__left-button {
  width: 80px;
  height: 80px;
  background-color: gainsboro;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 100%;
}

.form__center {
  max-width: 215px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 90px 0;
  padding-left: 40px;
}

.form__center--first {
  background-color: #797979;
}

.form__center--second {
  background-color: #3e3e3e;
}

.form__center--third {
  background-color: #141414;
}

.form__center__title {
  color: orange;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.form__center__text {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.loop__form__right-button {
  width: 80px;
  height: 80px;
  background-color: gainsboro;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 100%;
}

.form__start-button {
  width: 180px;
  padding: 15px;
  position: absolute;
  top: 200px;
  left: 15px;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}
